extends layout

block content
  div.room
    room contents
  div.chat-box
    ul
      li.odd
        span "dgkwon"
        퍼블리싱 힘드네
      li.even
        span "sklee"
        그래서 퍼블리셔가 살아있어 ㅋㅋㅋ
      li.odd
        span "dgkwon"
        퍼블리싱 힘드네
      li.even
        span "sklee"
        그래서 퍼블리셔가 살아있어 ㅋㅋㅋ
      li.odd
        span "dgkwon"
        퍼블리싱 힘드네
      li.even
        span "sklee"
        그래서 퍼블리셔가 살아있어 ㅋㅋㅋ
