doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap/bootstrap.css')
		script(src="/js/jquery/jquery-3.2.1.min.js")
		script(src="/js/bootstrap/bootstrap.js")
	body
		nav.navbar.navbar-default
			div.container-fluid
				div.navbar-header
					a.navbar-brand(href='/') Davinci Code
				ul.nav.navbar-nav
					li
						a(href='/') home
					li
						a(href='chatting') chatting
		block content
					