body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.btn-black {
    color: #fff;
    background-color: #736f6f;
    border-color: #fff;
}