extends layout

block content
	head
		script(src="/js/socket.io.js")
		script(src="/js/chatting.js")
	div.container
		h1 #{title}
		
		
		div#room_area
			hr
			label room list load
			div.row
				button#get_room_button room_list_load
			hr
			label room list
			div.row#room_list_area
				
			hr
			label room make
			div.row
				input#room_input
				button#set_room_button room_make
				
		div#message_area(style="display:none")
			hr
			label room chatting list
			div.row
				textarea#message_list_area.form-control(rows=5, disabled)
				input#message_input
				button#set_message_button message_append
