doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
    script(src='jquery/dist/jquery.js')
    block external_head
  body
    block head
      h1 hi
    div.container
      block content
